APP_NAME=IT Security Digest API
APP_VERSION=0.1.0
APP_PORT=8000
DEBUG=true


POSTGRES_DB=it_security_digest
POSTGRES_USER=digest_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4o-mini
GIGACHAT_CREDENTIALS=your_authorization_key
GIGACHAT_MODEL=GigaChat-3-Ultra